@model Neverland.Web.ViewModels.AccountViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Account</h1>

<body>

    <div>
        <a asp-controller="User" asp-action="Manage">Management</a>
    </div>


    <div>
        <h4>Account Infomation</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserViewModel.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserViewModel.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserViewModel.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserViewModel.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserViewModel.Password)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserViewModel.Password)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserViewModel.Role)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserViewModel.Role)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserViewModel.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserViewModel.Email)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserViewModel.Birthday)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserViewModel.Birthday)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserViewModel.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserViewModel.Gender)
            </dd>
        </dl>
    </div>
    <div>
        @Html.ActionLink("manage users", "Manage") |
        @Html.ActionLink("Edit", "Edit", new { uid = Model.UserViewModel.Id }) |
        <a asp-controller="User" asp-action="Logout">Logout</a>
    </div>

    <div>
        <a asp-controller="Home" asp-action="Index">Neverland</a>
    </div>

</body>