@model Neverland.Web.ViewModels.MovieViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div>
    <h4>Movie Details</h4>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ShootDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.ShootDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Director)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieDetail.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieDetail.Description)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieScore.Score)
        </dd>
    </dl>
</div>
<div>
    <form method="post">
        @*<input type="text" name="n" value=""/>*@
        <input placeholder="Input score" type="text" asp-for="MovieScore.Score" value=0.0/>
        <button type="submit" name="save">score</button>
    </form>
</div>


<div>
    <a asp-controller="Order" asp-action="Creating" asp-route-id="@Model.Movie.Id">Order create</a>

    <a asp-controller="Order" asp-action="Index" asp-route-id="@Model.Movie.Id">Order Index</a>
</div>